.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 5rem;
	z-index: 100;
}

.nav-logo {
	display: flex;
	align-items: center;
	gap: 0.2rem;
	border-radius: 2rem;
	cursor: pointer;
}

.nav-logo-img {
	width: 1.5rem;
	height: auto;
}

.nav-logo-txt,
.logo-highlight {
	font-family: "DynaPuff", system-ui;
	font-size: 1.5rem;
	font-weight: 700;
	font-optical-sizing: auto;
	text-transform: uppercase;
	line-height: 1;
	color: var(--dark);
}

.logo-highlight {
	color: var(--idk);
}

.nav-links {
	display: flex;
	align-items: center;
	text-transform: uppercase;
	border: 2px solid var(--third);
	border-radius: 2rem;
	background-color: var(--light);
}

.nav-link {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	line-height: 1;
	border-radius: 2rem;
	color: var(--dark);
	background-color: transparent;
	cursor: pointer;
	transition: background-color 0.5s ease;
	&:hover {
		background-color: var(--third);
	}
}

.active li {
	color: var(--light);
}

.active {
	background-color: var(--idk);
	&:hover {
		background-color: var(--idk);
	}
}

.nav-icon,
.icon {
	font-size: 1.2rem;
	font-weight: 500;
}

.nav-link:has(.nav-icon) {
	padding: 0.5rem 0.5rem;
}

.nav-link:has(.menu-icon) {
	display: none;
}

@media (max-width: 425px) {
	.navbar {
		padding: 1rem 2rem 0;
	}

	.nav-link:not(:has(.link)) {
		display: none;
	}

	.nav-links:has(.nav-icon) .nav-link {
		padding: 0.5rem 0.5rem;
	}

	.nav-link:has(.menu-icon) {
		display: block;
	}
}

@media (max-width: 768px) and (min-width: 426px) {
	.navbar {
		padding: 1rem 2rem 0;
	}

	.nav-links:has(.nav-icon) .nav-link {
		text-wrap: nowrap;
	}
}

@media (min-width: 1044px) {
	.navbar {
		padding: 1rem 8rem 0;
	}

	.nav-logo-img {
		width: 2rem;
	}

	.nav-logo-txt,
	.logo-highlight {
		font-size: 2rem;
	}

	.nav-link {
		font-size: 1.2rem;
	}

	.nav-icon,
	.icon {
		font-size: 1.2rem;
	}
}