@import url("https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	scroll-behavior: smooth;
	/*outline: 1px dotted red;*/
	font-family: "Sour Gummy", sans-serif;
	font-weight: 400;
	font-style: normal;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 16px;
	color: var(--dark);
	background-color: #fff;
}

:root {
	--primary: #f6ffff;
	--secondary: #001219;
	--light: #ceffff;
	--dark: #063649;
	--third: #ffb39f;
	--fourth: #e1683d;
	--idk: #dd6940;
	--fifth: #eee;
}

.description,
.copyright {
	font-size: 1rem;
	line-height: 1.2;
	color: var(--dark);
}

.section {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 4rem 5rem 1rem;
	text-align: center;
	background-color: var(--light);
}

.hero-section {
	height: 100dvh;
	padding-top: 8rem;
}

.heading,
.sub-heading,
.highlight {
	font-size: 6rem;
	font-weight: 700;
	text-transform: capitalize;
	line-height: 1;
}

.heading {
	margin-bottom: 2rem;
}

.sub-heading {
	margin: 4rem 0 2rem 0;
	font-size: 2rem;
}

.highlight {
	color: var(--fourth);
}

.hero-flexbox {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.btn {
	position: relative;
	display: flex;
	align-items: center;
	gap: 0.5rem;
	padding: 1rem 2rem;
	margin: 0 2rem;
	font-size: 1.2rem;
	font-weight: 600;
	text-transform: uppercase;
	color: var(--light);
	background-color: var(--fourth);
	border: none;
	border-radius: 2rem;
	cursor: pointer;
	z-index: 10;
	transition: background-color 0.5s ease, color 0.4s ease;
	&:hover {
		color: var(--dark);
		background-color: var(--third);
	}
}

.dog1 {
	position: absolute;
	bottom: -16rem;
	left: 50%;
	transform: translateX(-50%);
	width: 30rem;
	z-index: 2;
}

.about-section .heading {
	text-align: left;
}

.dog2 {
	position: absolute;
	bottom: 2rem;
	width: 20rem;
	z-index: 2;
}

.dog3 {
	position: absolute;
	top: -15rem;
	right: 0;
	width: 25rem;
	rotate: 270deg;
	z-index: 2;
}

.dog6 {
	display: none;
}

.dog4 {
	position: absolute;
	top: -2.5rem;
	left: 8rem;
	width: 15rem;
	z-index: 2;
}

.dog5 {
	position: absolute;
	top: -2rem;
	right: 8rem;
	width: 15rem;
	z-index: 2;
}

.service-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 2rem;
}

.box {
	position: relative;
	height: 15rem;
	border-radius: 1rem;
	overflow: hidden;
	box-shadow: 4px 4px 0 var(--dark);
	cursor: pointer;
	background: var(--third);
	transition: transform 0.3s ease;
	&:hover {
		transform: translateY(-10px);
	}
}

.title {
	position: relative;
	font-size: 1.5rem;
	font-weight: 700;
	color: var(--dark);
	z-index: 2;
	margin-top: 2rem;
}

.contact-grid {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.contact {
	font-size: 1.2rem;
	.description {
		margin: 0.5rem 0 0;
		color: var(--dark);
		text-align: left;
		&:hover {
			color: var(--secondary);
		}
	}
}

.contact-img {
	height: 15rem;
	width: auto;
	object-fit: cover;
	object-position: center;
}
.address {
	margin-top: 0.5rem;
	font-size: 1rem;
	text-transform: capitalize;
}

.footer-grid {
	display: flex;
	align-items: center;
	gap: 2rem;
	.nav-logo {
		.nav-logo-img {
			width: 4rem;
		}
		.nav-logo-txt,
		.logo-highlight {
			font-size: 4rem;
		}
	}
	.description {
		margin-top: 2rem;
		text-align: left;
	}
}

.dog7 {
	width: 25rem;
}

@media (max-width: 425px) {
  .section {
    padding: 4rem 2rem 1rem;
  }

  .hero-section {
    padding-top: 4rem;
    overflow: hidden;
  }

  .heading,
  .sub-heading,
  .highlight {
  	font-size: 4rem;
  }

  .dog1,
  .dog3,
  .dog4,
  .dog5,
  .dog6,
  .dog7 {
    display: none;
  }

  .hero-flexbox {
    height: auto;
  }

  .dog2 {
    left: 3rem;
    transform: translateX(0);
    bottom: 2rem;
    width: 20rem;
  }

  .btn {
    margin: 0;
  	padding: 0.2rem 0.5rem;
  }

  .contact {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
	.contact-img {
    display:  none;
	}

  .description {
    text-align: center;
  }

	.copyright {
		margin-top: 1rem;
	}
	
	.footer-grid {
		.nav-logo {
			.nav-logo-img {
				width: 3rem;
			}
			.nav-logo-txt,
			.logo-highlight {
				font-size: 3rem;
			}
		}
	}
}

@media (max-width: 375px) {
  .dog2 {
    left: 3rem;
    transform: translateX(0);
    bottom: 2rem;
    width: 18rem;
  }

  .btn {
    margin: 0;
  	padding: 0.2rem 0.5rem;
  }

	.footer-grid {
		.nav-logo {
			.nav-logo-img {
				width: 2rem;
			}
			.nav-logo-txt,
			.logo-highlight {
				font-size: 2rem;
			}
		}
	}
}

@media (max-width: 768px) and (min-width: 426px) {
	.section {
		padding: 4rem 2rem 1rem;
	}

	.hero-section {
		padding-top: 4rem;
	}

	.heading,
	.sub-heading,
	.highlight {
		font-size: 4rem;
	}

	.btn {
		margin: 0;
		padding: 0.2rem 0.5rem;
	}

  .dog2,
  .dog3,
  .dog4,
  .dog5,
  .dog6,
  .dog7 {
    display: none;
  }
	
	.dog {
		bottom: -16rem;
		width: 30rem;
	}

  .contact {
    font-size: 3rem;
  }

	
	.footer-grid {
		.nav-logo {
			.nav-logo-img {
				width: 3rem;
			}
			.nav-logo-txt,
			.logo-highlight {
				font-size: 3rem;
			}
		}
	}

	.copyright {
		margin-top: 1rem;
	}
}

@media (min-width: 1044px) {
	.section {
		padding: 4rem 8rem 1rem;
	}

	.hero-section {
		padding-top: 8rem;
	}

	.description,
	.copyright,
	.address {
		font-size: 1.2rem;
	}

	.heading,
	.sub-heading,
	.highlight {
		font-size: 6rem;
	}

	.btn {
		margin: 0;
		font-size: 1.5rem;
		padding: 0.5rem 1.5rem;
	}
	
	.dog1 {
		bottom: -21rem;
		width: 40rem;
	}

  .contact {
    font-size: 3rem;
  }

	
	.footer-grid {
		.nav-logo {
			.nav-logo-img {
				width: 3rem;
			}
			.nav-logo-txt,
			.logo-highlight {
				font-size: 3rem;
			}
		}
	}

	.copyright {
		margin-top: 1rem;
	}
}