@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  /*outline: 1px dotted red;*/
  /* font-family: "Poppins", sans-serif; */
  font-family: "Sour Gummy", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 16px;
  color: var(--dark);
  background-color: #fff;
}

:root {
  --primary: #f6ffff;
  --secondary: #001219;
  --light: #ceffff;
  --dark: #063649;
  --third: #ffb39f;
  --fourth: #e1683d;
  --idk: #dd6940;
  --fifth: #eee;
}

/* .sour-gummy {
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-variation-settings:
    "wdth" 100;
} */

/* .dynapuff {
  font-family: "DynaPuff", system-ui;
  font-optical-sizing: auto;
  font-weight: 700;
  font-variation-settings:
  "wdth" 100;
  } */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
  z-index: 100;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  border-radius: 2rem;
  background-color: var(--light);
  cursor: pointer;
}

.nav-logo-img {
  width: 1.5rem;
  height: auto;
}

.nav-logo-txt,
.logo-highlight {
  font-family: "DynaPuff", system-ui;
  font-size: 1.5rem;
  font-weight: 700;
  font-optical-sizing: auto;
  text-transform: uppercase;
  line-height: 1;
  color: var(--dark);
}

.logo-highlight {
  color: var(--idk);
}

.nav-links {
  display: flex;
  /* gap: 1rem; */
  text-transform: uppercase;
  border: 2px solid var(--third);
  border-radius: 2rem;
  background-color: var(--light);
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1;
  border-radius: 2rem;
  color: var(--dark);
  background-color: transparent;
  cursor: pointer;
}

.nav-link:hover {
  background-color: var(--primary);
  transition: background-color 0.5s ease;
}

.active li {
  color: var(--light);
}

.active {
  background-color: var(--fourth);
}

.active:hover {
  background-color: var(--fourth);
}

.nav-icon {
  font-size: 1.2rem;
  font-weight: 500;
}

.nav-link:has(.nav-icon) {
  padding: 0.5rem 0.5rem;
}

.nav-link:has(.menu-icon) {
  display: none;
}

/* @media (max-width: 768px) {
  .navbar {
    padding: 1rem 2rem;
  }

  .nav-links {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--primary);
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
  }

  .nav-link:has(.menu-icon) {
    display: block;
  }

  .nav-links.active {
    display: flex;
  }
} */

.hero-section {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 8rem 2rem 0;
  text-align: center;
  background-color: var(--light);
}

.heading,
.highlight {
  font-size: 6rem;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 1;
}

.highlight {
  color: var(--fourth);
}

.dog {
  position: absolute;
  bottom: -14rem;
  z-index: 2;
}